
    <div class="footer1">
        <div class="col-sm-12 col-12">
      <p style="font-size:14px;">This is good idea to share youtr privacy.Why are you thing this is not bad but this is best part of doing such good things.This is good idea to share youtr privacy.Why are you thing this is not bad but this is best part of doing such good thingsThis is good idea to share youtr privacy.Why are you thing this is not bad but this is best part of doing such good thingsThis is good idea to share youtr privacy.Why are you thing this is not bad but this is best part of doing such good thingsThis is good idea to share youtr privacy.Why are you thing this is not bad but this is best part of doing such good things</p>
      </div>

    </div>
    <div class="footer-bottom">
    
      <div class="container">
    
        <div class="row">
          <div class="mt-4">
            <!-- <div class="row" style="color:white;">*  centres in Tianjin and Beijing. Pricing is available on request. 
                *** VNF Deployment Cost will be additional.</div> -->

          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    
            <div class="copyright">
    
              © {{currentYear}}, Eqhub, All rights reserved
    
            </div>
    
          </div>
    
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    
            <div class="design">
    
               <a href="#">Franchisee </a> |  <a target="_blank" href="#">Development by Eqhub</a>
    
            </div>
    
          </div>
    
        </div>
    
      </div>
    
    </div>