<div class="row">
    <div class="col-md-12">
       <div class="jumbotron" style="padding: 29px;
          margin: 0px;">
          <h5>Signature</h5>
         
       </div>
    </div>
 </div>

<app-ngx-editor [placeholder]="'Enter text here...'" height="100px" minHeight="50px" [spellcheck]="true" [(ngModel)]="data.signature"></app-ngx-editor>
<div class="form-group" style="margin-top:10px">
    <!-- Submit button !-->
    <button type="button" (click) = "createSignature()" class="btn btn-secondary"style="background:#4362a7;">Create Signature</button>
 </div>