<span *ngIf="isLoggedIn" style="padding-left: 25px; padding-bottom: 0px;font-size: 14px">Welcome back <b>{{userDetails.name}} {{userDetails.lname}}</b></span>
<div class="sidebar-sticky">

      <ul class="nav flex-column" style="background: #f2f5f9;    padding-left: 25px;    padding-bottom: 10px;"  *ngIf="isLoggedIn">
                  <li class="nav-item" style="margin:0 0 -29px 0">
                     <a class="nav-link " href="#"  style="padding-bottom: 0px;font-size: 12px;float:left;    width: 104px;">
                     <img class="rounded-circle" src="{{userDetails.image}}" style="width: 72px;object-fit: cover;
                     height: 72px;">
                     </a>
                     <ul style="       margin-top: 15px;
                        font-size: 14px;
                        list-style: none;">
                        <li><span> Post:<b>400</b></span></li>
                        <li><span> Stars:<b>400</b></span></li>
                        <li><span> Feedback:<b>400</b></span></li>
                     </ul>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link " href="#"  style="padding-bottom: 0px;font-size: 12px">
                     <i class="material-icons left-nav">
                     create
                     </i>
                     Signature
                     </a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link " routerLink = "/userInfo"  style="padding-bottom: 0px;font-size: 12px">
                     <i class="material-icons left-nav">
                     settings
                     </i>
                     Personal Settings
                     </a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link "  routerLink = "/contactDetail"  style="padding-bottom: 0px;font-size: 12px">
                     <i class="material-icons left-nav">
                     contact_phone
                     </i>
                     Contact Details
                     </a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link " href="#" style="padding-bottom: 0px;font-size: 12px">
                     <i class="material-icons left-nav">
                     pool
                     </i>
                     Preference
                     </a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link " href="#" style="padding-bottom: 0px;font-size: 12px">
                     <i class="material-icons left-nav">
                     library_books
                     </i>
                     Your content
                     </a>
                  </li>
               </ul>
        <ul class="nav flex-column">
           <li class="nav-item" style="margin-top:10px;">
              <a class="nav-link active" style="cursor:pointer" [ngClass]="{'active':selectedCat == 'home'}" (click) = "home('home')">
              <i class="material-icons left-nav">
              library_books
              </i>
              Posts
              </a>
           </li>
           <li class="nav-item">
              <a class="nav-link" href="#">
              <i class="material-icons left-nav">
              forum
              </i>
              EQ Reviews
              </a>
           </li>
           <li class="nav-item">
              <a class="nav-link" href="#">
              <i class="material-icons left-nav">
              description
              </i>
              News
              </a>
           </li>
           <li class="nav-item">
              <a class="nav-link" style="cursor:pointer" [ngClass]="{'active':selectedCat == 'bookmark'}" (click) = "redirectBookmarks('bookmark')" >
              <i class="material-icons left-nav">
              bookmark_border
              </i>
              Bookmarked Stories
              </a>
           </li>
        </ul>
        <h5 class="sidebar-heading d-flex justify-content-between align-items-center px-2 mt-4 mb-1 text-muted">
           <span class="text-uppercase">categories</span>
        </h5>
        <ul class="nav flex-column mb-2">
           <li class="nav-item" (click) = "selectedCategory('buy')"   style="cursor: pointer;">
              <a class="nav-link"  [ngClass]="{'active':selectedCat == 'buy'}">
              <i class="material-icons left-nav">
              shopping_cart
              </i>
              Buy
              </a>
           </li>
           <li class="nav-item" (click) = "selectedCategory('sell')"style="cursor: pointer;">
              <a class="nav-link" [ngClass]="{'active':selectedCat == 'sell'}">
              <i class="material-icons left-nav">
              shopping_basket
              </i>
              Sell
              </a>
           </li>
           <li class="nav-item" (click) = "selectedCategory('borrow')"style="cursor: pointer;">
              <a class="nav-link" [ngClass]="{'active':selectedCat == 'borrow'}">
              <i class="material-icons left-nav">
              gradient
              </i>
              Borrow
              </a>
           </li>
           <li class="nav-item" (click) = "selectedCategory('general')"style="cursor: pointer;">
              <a class="nav-link" [ngClass]="{'active':selectedCat == 'general'}">
              <i class="material-icons left-nav">
              settings
              </i>
              General
              </a>
           </li>
        </ul>
     </div>