<div class="jumbotron text-xs-center">
    <h1 class="display-3">Thank You!</h1>
    <p class="lead">You have succesfully published your post.</p>
    <p class="lead"><strong>Your post will be live after succesfully confirmation by admin.You will recieve the message once post is published</strong></p>
    
      <hr>


    <p>
      Having trouble to find the post? <a href="">Contact us</a>
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-md" [routerLink]="['/']" role="button">Continue to homepage</a>
    </p>
  </div>