
   

        
            <div class="row">
                  <div class="col-md-12 col-lg-9 bottom-margin">
                     <div class="card mt-4">
                        <div class="card-body">
                           <div class="row">
                              <div class="col-md-12">
                                 <p style="text-align: center;
                                    font-size: 24px;
                                    font-weight: 500;    margin: 0px;">List of Messages</p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="card-header">
                           <ul class="nav nav-tabs card-header-tabs">
                             <li class="nav-item">
                               <a class="nav-link"  style="cursor:pointer" [ngClass]="{'active':selectedType == 'recived'}" (click) = "messagesType('recived')">Recieved</a>
                             </li>
                             <li class="nav-item">
                               <a class="nav-link"   style="cursor:pointer" [ngClass]="{'active':selectedType == 'sent'}" (click) = "messagesType('sent')">Sent</a>
                             </li>
                           
                           </ul>
                         </div>
                     
                     <div class="card mt-4" *ngFor="let message of getMessages">
                        <div class="card-body border-blue" >
                           <div class="row">
                              <div class="col-md-10">
                                 <img class="rounded-circle" src="{{message.image}}" style="width: 68px;    height: 80px;
                                 object-fit: cover;"><span class="font-weight-bold pl-3">{{message.name}} {{message.lname}}</span>
                                 <!--  <span class="general">General</span> -->
                                 <h5 class="card-title mt-3">{{message.title}}</h5>
                                 <p class="card-text">{{message.message | truncate : 250 : "....."}}
                                 </p>
                                 <a style="cursor:pointer" (click)="deleteMessage(templateDelete,message)" class="card-link"><i class="material-icons ">
                                 delete
                                 </i>Delete</a>
                                 <a style="cursor:pointer" (click)="viewMessage(template,message)" class="card-link"><i class="material-icons ">
                                 visibility
                                 </i>View</a>
                                 <a style="cursor:pointer" (click)="replyMessage(replyMessagePop,message)" class="card-link"><i class="material-icons ">
                                 reply
                                 </i>Reply</a>
                              </div>
                              <div class="col-md-2 icon-ba">
                                 <span >
                                       {{message.creation_date |  timeAgo}}
                                 </span>
                              </div>
                           </div>
                        </div>
                        
                     </div>
                     
                     
                  </div>
               </div>
   
   
      <ng-template #template>
         <div class="modal-header">
            <h4 class="modal-title pull-left">{{currentMessage.name}} {{currentMessage.lname}}</h4>
           
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <div class="row">
               
               <div class="col-md-12">
                  <img class="rounded-circle" src="{{currentMessage.image}}" style="width: 68px;    height: 80px;
                  object-fit: cover;"><span class="font-weight-bold pl-3">{{currentMessage.name}} {{currentMessage.lname}}</span> <span style="float:right">  {{currentMessage.creation_date  |  timeAgo}}</span>
                  <h5 class="card-title mt-3">{{currentMessage.title}}</h5>
                  <p class="">{{currentMessage.message }}
                  </p>
                  <div class="signature" [innerHTML]=currentMessage.signature>
                      

                  </div>
               </div>
            </div>
         </div>
      </ng-template>
     
      <ng-template #templateDelete>
         <div class="modal-header">
            <h4 class="modal-title pull-left">Delete Message</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef2.hide()">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <p>Are You sure you want to delete this message?</p>
            <button _ngcontent-c4="" class="btn btn-danger" type="button" (click) = "confirmDelete()">Yes</button>
            <button _ngcontent-c4="" class="btn btn-success" style="float:right" type="button" (click)="modalRef2.hide()">No</button>
         </div>
      </ng-template>
   
      <ng-template #replyMessagePop>
            <div class="modal-header">
                  <h4 class="modal-title pull-left">Message</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="modalReply.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
               <form  [formGroup]="messageForm" (ngSubmit)="sendMessage()">
                  <div class="row">
                     <div class="col" style="    border-bottom: 1px solid #e9ecef;
                     padding-bottom: 14px;">
                        <img class="rounded-circle"  style="width: 63px;" src="{{currentMessage.image}}"><span class="font-weight-bold pl-3"  *ngIf = "currentSelectedPost">{{currentSelectedPost.name}} {{currentSelectedPost.lname}}</span>
                     </div>
                     </div>
                  <div class="row">
                        <div class="col-md-12">
                           <div class="form-group"  [ngClass]="{ 'is-invalid': submittedMessage && fMessage.title.errors }"> 
                              <label for="email_id" class="control-label"> Title</label>
                              <input type="text" [(ngModel)]="messageData.title"   [ngClass]="{ 'is-invalid': submittedMessage && fMessage.title.errors }" formControlName="title" class="form-control"  class="form-control" id="email_id" name="email_name" placeholder="Title" 
                                 >
                           </div>
                        </div>
                     </div>
                     <div class="row" style="margin-top: 12px;">
                        <div class="col-md-12">
                           <div class="form-group" [ngClass]="{ 'is-invalid': submittedMessage && fMessage.description.errors }"> 
                              <label for="email_id" class="control-label">Description</label>
                              <textarea class="form-control" rows="5" [(ngModel)]="messageData.description"  [ngClass]="{ 'is-invalid': submittedMessage && fMessage.description.errors }" formControlName="description"  id="comment" placeholder="Description"></textarea>
                           </div>
                        </div>
                     </div>
                     <div class="form-group">
                           <!-- Submit button !-->
                           <button type="submit" class="btn btn-secondary"style="background:#4362a7;">Send Message</button>
                        </div>
                     </form>
            </div>
         </ng-template>

         <div class="row" *ngIf = "selectedType == 'recived' && getMessages">
               <div class="col-md-9 bottom-margin"  *ngIf = "getMessages.length == 0">
                  <div class="card mt-4">
            <div style="
            text-align: center;
            font-size: 21px;
            margin: 0px 0 0 0;
            padding: 22px 0 24px 13px;
        ">No message Recieved Yet.</div>
            </div>
            </div>
            </div>

            <div class="row" *ngIf = "selectedType == 'sent' && getMessages">
                  <div class="col-md-9 bottom-margin"  *ngIf = "getMessages.length == 0">
                     <div class="card mt-4">
               <div style="
               text-align: center;
               font-size: 21px;
               margin: 0px 0 0 0;
               padding: 22px 0 24px 13px;
           ">No message sent Yet.</div>
               </div>
               </div>
               </div>