<div *ngIf="isModalShown" [config]="{ show: true }" (onHidden)="onHidden()" bsModal #autoShownModal="bs-modal"
     class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-auto-name" class="modal-title pull-left">Reset Password</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
   
          <form method="post"  [formGroup]="newPasswordForm"  (ngSubmit)="confirmNewPassword()">
                <label>Password</label>
                  <div class="form-group">
              
                      <input type="password" class="form-control" [(ngModel)] = "newPassword.password" formControlName="newPassword" placeholder="password" required="required">
                  </div>
               
                  <div class="form-group">
                   <button _ngcontent-c4="" class="btn btn-primary ml-2 mr-2" type="submit">Submit</button>
             </div>
             
              </form>
   
    </div>
    </div>
  </div>
</div>